{% extends 'layout.html' %}
{% block contenido %}
<div class="formulario">
    <h2>Registro de Usuarios</h2>
    <form action="{{ url_for('registro') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="grupo">
            {{ form.usuario.label }}
            {{ form.usuario(class="control") }}
        </div>
        <div class="grupo">
            {{ form.nombre.label }}
            {{ form.nombre(class="control") }}
        </div>
        <div class="grupo">
            {{ form.correo.label }}
            {{ form.correo(class="control") }}
        </div>
        <div class="grupo">
            {{ form.contrasena.label }}
            {{ form.contrasena(class="control") }}
        </div>
        <div class="grupo">
            {{ form.enviar(class="boton") }}
        </div>
        <div class="grupo">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}