{% extends 'layout.html' %}

{% block estilos %}
{% endblock %}

{% block contenido %}
<div class="formulario">
    <form method="POST" action="{{ url_for('contactanos') }}" novalidate>
        {{ form.hidden_tag() }}
        <div class="grupo">
            {{ form.nombre.label }}
            {{ form.nombre(class="control") }}
        </div>
        <div class="grupo">
            {{ form.correo.label }}
            {{ form.correo(class="control") }}
        </div>
        <div class="grupo">
            {{ form.mensaje.label }}
            {{ form.mensaje(class="control", rows="5") }}
        </div>
        <div class="grupo">
            {{ form.enviar(class="boton") }}
        </div>
        <div class="mensaje">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}